<div class="container">
    <div class="form-well">
        <form class="form-inline form-container" action="/" method="POST">
            <div class="intent-container">
                <label for="good">Good</label>
                <input class="form-check" type="radio" name="position" id="good" value="good">

                <label for="evil">Evil</label>
                <input class="form-check" type="radio" name="position" id="evil" value="evil">
            </div>

            <div class="color-container">
                <label for="colorPicker">Favorite Color</label>
                <select class="form-control" name="colorPicker" id="colorPicker">
                <option value="blue">Blue</option>
                <option value="yellow">yellow</option>
                <option value="red">red</option>
                <option value="brown">brown</option>
            </select>
            </div>

            <div class="food-container">
                <label for="food">Favorite Food</label>
                <input class="form-control" type="text" name="food" id="food">
            </div>

            <div class="insanity-container">
                <label for="insanity">Insanity</label>
                <input type="range" id="insanity" name="insanity" min="1" max="5">
            </div>

            <div class="btn-container">
                <input class="btn btn-success" type="submit" name="submit" value="Submit">
            </div>
        </form>
    </div>

    <div class="description-container">
        <div class="info">
            <div class="insanity-{{insanity}} header">
                <h1>{{intent}}</h1>
            </div>

            <div class="insanity-{{insanity}} content well well-lg">
                <h2>Preferences</h2>
                <div class="list-container">
                    <div class="likes">
                        <h3>Likes</h3>
                        <ul>
                            {{#each description.likes as |like|}}
                            <li>{{like}}</li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="dislikes">
                        <h3>Dislikes</h3>
                        <ul>
                            {{#each description.dislikes as |dislike|}}
                            <li>{{dislike}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="insanity-{{insanity}} content well well-lg">
                <h2>Biography</h2>
                <p class="bio">{{description.biography}}
            </div>

            <div class="insanity-{{insanity}} content well well-lg">
                <h2>Resume</h2>
                {{#each description.resume as |positions|}}
                    <div class="job-title">
                        <h3>{{@key}} </h3>
                        {{#each positions}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div> 
                {{/each}}
            </div>
        </div>

    </div>
</div>